// Please note: These are global styles: there may be additional CSS components conditionally included

// use sitewide base
@use "./02_base/cssVariables";
@use "./02_base/normalize";
@use "./02_base/webfonts"; // if the project requires webfonts, place @font-face rules here
@use "./02_base/layouts";
@use "./02_base/cke";
@use "./02_base/typography";
@use "./02_base/forms";

// use Components
@use "./03_components/siteBranding";
@use "./03_components/header";
@use "./03_components/nav__main";
@use "./03_components/nav__highlight";
// @use './03_components/breadcrumbs';
@use "./03_components/card";
@use "./03_components/footer";
@use "./03_components/sidebar";
@use "./03_components/carousel";
@use "./03_components/paragraph";
@use "./03_components/pagination";
// @use './03_components/socialLinks';
@use "./03_components/embedVideo";
@use "./03_components/cookieMessage";
@use "./03_components/skipLinks";
@use "./03_components/drupalAdminTabs";

// use pages and sections
@use "./04_pagesSections/contentPage";
@use "./04_pagesSections/frontPage";
@use "./04_pagesSections/sectionalColor";
