:root {
  /*	Colours - Specifics: Don't use directly (unless its grey or something neutral)
  ***********************************  */
  --color__pink: #ff557a; // INITAL/UNSET
  --color__blue: #3a8dff; // INITAL/UNSET
  --color__yellow: #ffbf00; // INITAL/UNSET

  --color__grey: #6f6f6f; // INITAL/UNSET
  --color__greyBorder: #e6e6e6; // INITAL/UNSET
  --color__greyBg: #f5f5f5; // INITAL/UNSET
  --color__greyDarkBg: #262626; // INITAL/UNSET

  /*	Colours - Generics: Use these values in styling
  ***********************************  */
  --color__alpha: var(--color__pink); // INITAL/UNSET
  --color__beta: var(--color__blue); // INITAL/UNSET
  --color__charlie: var(--color__yellow); // INITAL/UNSET

  --color__pageBackground: white; // INITAL/UNSET
  --color__defaultText: black;
}

// [data-theme="dark"] {
//   --color__pageBackground: black; // INITAL/UNSET
//   --color__defaultText: white; // INITAL/UNSET
// }
