
/*  Site layout and structure
*********************************** */

html {
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;

  // &.modal_isOpen {
  //   overflow:hidden;
  // }
}

body {
  position:relative;

  min-width:$width__minSiteWidth_PX;
  min-height:100%;

  display:flex;
  flex-direction: column;

  overflow:hidden;

  // pass page height down to 'sticky' footer
  > div {
    flex-grow:1;
    display:flex;
    flex-direction: column;
  }

}

.the-page {
  flex-grow:1;

  position:relative;

  display:flex;
  flex-direction: column;

  height:100%;
  z-index: 2;

  overflow:hidden;

  // this is just to find the values used elsewhere
  // @include clamp(
  //   grid-gap, 
  //   $grid_gutterWidth--mobile, 
  //   $grid_gutterWidth, 
  //   1450
  // );
}

// disable lenis rule so as to pass height from html to page ('sticky' footer)
// html.lenis {
//   height: auto;
// }
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Site layout – Full width sections
******************************** */
.pane {
  display:block;
  width:100%;
  background-color:transparent;

  @include paneSidePaddings;

  &.no-padding {
    padding:{
      left:0;
      right:0;
    }
  }

  .pane-inner {
    max-width: $grid_maxWidth;

    margin: 0 auto;

    &.widthUnconstrained {
      max-width:none;
    }

  }
}


.main-content {
  @include grid(1,true);

  @include mq__sidebarAndContentSidebyside {
    @include grid(12);

    #content {
      grid-column:1/9;
    }
    .sidebar-second {
      grid-column:10/13;
    }
  }
}


/*  Default layouts:
************************************* */
.grid-list {
  list-style:none;
  padding:0;
  margin:0;

  &:not(.tns-slider) {
    &.style__1col {
      @include grid(1,true);
    }
    &.style__3col {
      @include grid(1,true);

      @include min_552 {
        @include grid(2);
      }
      @include min_912 {
        @include grid(3);
      }
    }
    &.style__4col {
      @include grid(1,true);

      @include min_552 {
        @include grid(2);
      }
      @include min_840 {
        @include grid(3);
      }
      @include min_1128 {
        @include grid(4);
      }
    }
  }
}

.menu {
  @include in_print {
    display:none;
  }
}