@use "../01_tools/01_tools" as *;

// Embedded video
.field--name-field-media-oembed-video {
  position: relative;
  width: 100%;
  // max-width:100%;
  aspect-ratio: 16/9;

  margin: {
    top: 2rem;
    bottom: 2rem;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  @include in_print {
    display: none;
  }
}

// override these els to make full width if they contain an iframe
figure,
.align-left,
.align-right,
.align-center {
  &:has(iframe) {
    width: 100%;
  }
}

figure,
.align-left,
.align-right {
  .field--name-field-media-oembed-video {
    margin: 0;
  }
}
