<<<<<<< HEAD
@use "../01_tools/01_tools" as *;

#block-effechod10minimal-main-menu {
  .menu {
    display: flex;
    gap: 1em;

    margin: 0;
  }
}
=======
#block-effechod10minimal-main-menu {


  .menu {
    display:flex;
    gap:1em;

    margin:0;
  }
}
>>>>>>> 7768c1152c4c0fb8941ddc753d69799fc088891c
