
.block.menu--highlighted-links {
  // Only show on desktop
  display:none;

  @include min_1056 {
    display:block;
    @include calcRemSize(540,max-width);

    ul.menu {
      @include typeStyle(menu,normal);

      @include display__flexbox;
      @include justifyContent(flex-end);

      margin:0;

    }
    li {
      margin:{
        right:1em;
      }

      // only show 4 links
      // display:none;
      // &:nth-child(-n+4){
      //   display:block;
      // }
      //
      // &:last-child,
      // &:nth-child(4) {
      //   margin-right:0;
      // }
    }
    a {
      color:$color__beta;
      display:block;

      &:hover,
      &:focus,
      &.menu-item--active-trail {
        color:$color__alpha;
      }
    }
  }
}
