@use "../01_tools/01_tools" as *;

.paragraph {
  @include typeHierarchySizes(h1);
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

.paragraph--type--accordion {
  border: {
    top: 1px solid var(--alpha);
  }
  margin: 0;

  .field--name-field-heading {
    @include typeStyle(heading, h3);
    margin: 0;
  }
  .accordion-btn {
    @include typeStyle(heading, h3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: transparent;
    padding: {
      left: 0;
      right: 0;
      top: 0.5em;
      bottom: 0.5em;
    }
    border: 0;
    border-radius: 0;
    margin: 0;

    cursor: pointer;

    &::after {
      content: "+";
      display: block;
    }

    &[data-state="open"] {
      &::after {
        content: "-";
      }
    }
  }
  .field--name-field-text {
    padding: {
      bottom: 1em;
    }
  }
}

// remove margin top from first paragraph in content
.field--name-field-content {
  .field__item:first-child {
    .paragraph {
      margin-top: 0;
    }
  }
}

// remove margin bottom from last paragraph in lists
.field--name-field-lists {
  .field__item:last-child {
    .paragraph {
      margin-bottom: 0;
    }
  }
}
