
.block-system-branding-block {
  a {
    @include on_screen {
    	@include display__block_hideText;
      line-height:0;

    	@include clamp(width,168,230,1440);
			aspect-ratio: 1/0.18;
			@include asset__logo;
			background-repeat: no-repeat;
			background-size: contain;

    	margin:0;


    	img {
    		@include elementInvisible;
    	}

    }

  }

}
