@use "../01_tools/01_tools" as *;

.social_media_links {
  list-style: none;

  display: flex;
  padding: 0;
  margin: 0;

  li {
    margin: {
      right: 1.1em;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include display__block_hideText;
    width: 1.5rem;
    height: 1.5rem;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    // background-size: 90% auto;
    background-size: contain;
  }

  .linkedin a {
    @include asset__social(linkedin, alpha);

    &:hover,
    &:focus-visible {
      @include asset__social(linkedin, beta);
    }
  }

  .twitter a {
    @include asset__social(twitter, alpha);

    &:hover,
    &:focus-visible {
      @include asset__social(twitter, beta);
    }
  }
}
