@charset "UTF-8";
/* Set Initial grid values
   'fixed' means it is a fixed numerical value
*********************************** */
/* 	Fonts – Specfics
    These are not to be used directly in styling,
    please use the generic values further below!
*********************************** */
/* 	Fonts – Generic values
    Use these values in styling!
*********************************** */
/*	Size variables
***********************************  */
/*	Transition variables
***********************************  */
/*	Selector variables
***********************************  */
/* Media Queries
*********************************** */
/*
  I am working with REMs for the whole site, except for the media queries which is not viable
  These media queries are better suited to mobile first.
*/
/*  SVG
*********************************** */
/*  PNG
*********************************** */
/*  Display mixins
*********************************** */
/*  Show/hide mixins
*********************************** */
/*  Type hierarchy size mixins
    - Do not use typeHierarchySizes to set type styles on text elements!
    The purpose of this is to use relative units on non-text elements
    (without applying the entire type style, which is unnecessary)
*********************************** */
/*  'Paragraph style' Mixins
    - These are actual type styles, apply these to text elements
*********************************** */
.field--type-text-long,
.ck-content {
  /*	Paragraphs
  ************************************* */
}
.field--type-text-long p,
.field--type-text-long li,
.ck-content p,
.ck-content li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.45em;
  font-size: clamp(1.125rem, 2.3026315789vw, 1.3125rem);
}
@media print {
  .field--type-text-long p,
  .field--type-text-long li,
  .ck-content p,
  .ck-content li {
    font-size: 10pt;
  }
}
.field--type-text-long p,
.field--type-text-long li,
.ck-content p,
.ck-content li {
  margin-bottom: 1.45em;
}
.field--type-text-long p em,
.field--type-text-long li em,
.ck-content p em,
.ck-content li em {
  font-style: italic;
}
.field--type-text-long p u,
.field--type-text-long li u,
.ck-content p u,
.ck-content li u {
  text-decoration: underline;
}
.field--type-text-long p strong,
.field--type-text-long li strong,
.ck-content p strong,
.ck-content li strong {
  font-weight: 700;
}
.field--type-text-long a:not(.cta), .field--type-text-long a:not(.cta):link,
.ck-content a:not(.cta),
.ck-content a:not(.cta):link {
  color: var(--defaultText);
}
.field--type-text-long a:not(.cta):hover, .field--type-text-long a:not(.cta):focus-visible, .field--type-text-long a:not(.cta):link:hover, .field--type-text-long a:not(.cta):link:focus-visible,
.ck-content a:not(.cta):hover,
.ck-content a:not(.cta):focus-visible,
.ck-content a:not(.cta):link:hover,
.ck-content a:not(.cta):link:focus-visible {
  color: var(--beta);
}

.field--type-text-long .cta_right,
.ck-content .cta_right {
  display: inline-block;
  cursor: pointer;
}
.field--type-text-long .cta_right, .field--type-text-long .cta_right:link,
.ck-content .cta_right,
.ck-content .cta_right:link {
  color: white;
  text-decoration: none;
}
.field--type-text-long .cta_right,
.ck-content .cta_right {
  background: none;
  background-color: var(--defaultText);
}
.field--type-text-long .cta_right:hover, .field--type-text-long .cta_right:focus-visible,
.ck-content .cta_right:hover,
.ck-content .cta_right:focus-visible {
  color: var(--defaultText);
  background-color: var(--alpha);
  border-color: var(--alpha);
}
.field--type-text-long .cta_right,
.ck-content .cta_right {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0;
  font-size: clamp(0.875rem, 1.1428571429vw, 1rem);
  padding-top: 0.9em;
  padding-bottom: 0.85em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border: thin solid var(--defaultText);
}
.field--type-text-long .cta_right:hover, .field--type-text-long .cta_right:focus-visible,
.ck-content .cta_right:hover,
.ck-content .cta_right:focus-visible {
  color: var(--defaultText);
  background-color: var(--alpha);
}
.field--type-text-long,
.ck-content {
  /*  Headings
  ************************************* */
}
.field--type-text-long h2,
.ck-content h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: 0;
  font-size: clamp(1.75rem, 3.8095238095vw, 2.5rem);
  margin-top: 0;
  margin-bottom: 0.4em;
}
.field--type-text-long h2 em,
.ck-content h2 em {
  font-style: normal;
}
.field--type-text-long h2 u,
.ck-content h2 u {
  text-decoration: none;
}
.field--type-text-long h2 a,
.ck-content h2 a {
  color: var(--alpha);
  text-decoration: none;
  border-bottom: 0;
}
.field--type-text-long h3,
.ck-content h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0;
  font-size: clamp(1.5625rem, 3.5087719298vw, 2rem);
  margin-top: 0;
  margin-bottom: 0.65em;
}
.field--type-text-long h3 em,
.ck-content h3 em {
  font-style: normal;
}
.field--type-text-long h3 u,
.ck-content h3 u {
  text-decoration: none;
}
.field--type-text-long h3 a,
.ck-content h3 a {
  color: var(--alpha);
  text-decoration: none;
  border-bottom: 0;
}
.field--type-text-long,
.ck-content {
  /*  Lists
  ************************************* */
}
.field--type-text-long ul,
.field--type-text-long ol,
.ck-content ul,
.ck-content ol {
  font-size: clamp(1.125rem, 2.3026315789vw, 1.3125rem);
}
@media print {
  .field--type-text-long ul,
  .field--type-text-long ol,
  .ck-content ul,
  .ck-content ol {
    font-size: 10pt;
  }
}
.field--type-text-long ul,
.field--type-text-long ol,
.ck-content ul,
.ck-content ol {
  margin: 0 0 1.5em 0;
  padding: 0;
  clear: both;
  display: block;
}
.field--type-text-long ul li,
.field--type-text-long ol li,
.ck-content ul li,
.ck-content ol li {
  position: relative;
  list-style-type: none;
  list-style-image: none;
  position: relative;
  padding-left: 1.25em;
}
.field--type-text-long ul li::before,
.field--type-text-long ol li::before,
.ck-content ul li::before,
.ck-content ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  color: var(--alpha);
}
.field--type-text-long ul li p,
.field--type-text-long ol li p,
.ck-content ul li p,
.ck-content ol li p {
  margin: 0;
}
.field--type-text-long ul li ul,
.field--type-text-long ul li ol,
.field--type-text-long ol li ul,
.field--type-text-long ol li ol,
.ck-content ul li ul,
.ck-content ul li ol,
.ck-content ol li ul,
.ck-content ol li ol {
  margin-top: 0.5em;
}
.field--type-text-long ul .cta,
.field--type-text-long ol .cta,
.ck-content ul .cta,
.ck-content ol .cta {
  padding: 0;
  border: 0;
}
.field--type-text-long ul .cta::before, .field--type-text-long ul .cta::after,
.field--type-text-long ol .cta::before,
.field--type-text-long ol .cta::after,
.ck-content ul .cta::before,
.ck-content ul .cta::after,
.ck-content ol .cta::before,
.ck-content ol .cta::after {
  content: none;
}
.field--type-text-long ul .cta:hover, .field--type-text-long ul .cta:focus,
.field--type-text-long ol .cta:hover,
.field--type-text-long ol .cta:focus,
.ck-content ul .cta:hover,
.ck-content ul .cta:focus,
.ck-content ol .cta:hover,
.ck-content ol .cta:focus {
  background-color: transparent !important;
}
.field--type-text-long ul,
.ck-content ul {
  list-style-type: none;
}
.field--type-text-long ul li::before,
.ck-content ul li::before {
  content: "–";
}
.field--type-text-long ul > li::before,
.ck-content ul > li::before {
  content: "–";
  top: 0.65em;
  left: 0;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  background-color: var(--alpha);
  border-radius: 50%;
  box-sizing: border-box;
}
.field--type-text-long ul ul,
.field--type-text-long ul ol,
.ck-content ul ul,
.ck-content ul ol {
  margin-bottom: 0;
}
.field--type-text-long ul ul > li::before,
.ck-content ul ul > li::before {
  background-color: transparent;
  border: 1px solid var(--defaultText);
}
.field--type-text-long ol,
.ck-content ol {
  counter-reset: item;
}
.field--type-text-long ol > li,
.ck-content ol > li {
  counter-increment: item;
}
.field--type-text-long ol > li::before,
.ck-content ol > li::before {
  content: counter(item);
  font-weight: 500;
}
.field--type-text-long ol > li > ol,
.ck-content ol > li > ol {
  counter-reset: lower-alpha;
}
.field--type-text-long ol > li > ol > li,
.ck-content ol > li > ol > li {
  counter-increment: lower-alpha;
}
.field--type-text-long ol > li > ol > li::before,
.ck-content ol > li > ol > li::before {
  content: counter(lower-alpha, lower-alpha);
}
.field--type-text-long,
.ck-content {
  /*  Images
  ************************************* */
}
.field--type-text-long img,
.field--type-text-long figure,
.ck-content img,
.ck-content figure {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.field--type-text-long img,
.ck-content img {
  display: block;
}
.field--type-text-long figure,
.ck-content figure {
  display: table;
  margin-left: 0;
  margin-right: 0;
}
.field--type-text-long figure > *,
.ck-content figure > * {
  display: table-row;
}
.field--type-text-long figure br,
.ck-content figure br {
  display: none;
}
.field--type-text-long figure,
.field--type-text-long figure img,
.ck-content figure,
.ck-content figure img {
  max-width: 100%;
  height: auto;
}
.field--type-text-long figure img,
.ck-content figure img {
  margin: 0;
  z-index: 1;
}
.field--type-text-long figure figcaption,
.ck-content figure figcaption {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.45em;
  font-size: clamp(1rem, 2.8846153846vw, 1.125rem);
  display: table-caption;
  caption-side: bottom;
  margin-top: 1em;
}
.field--type-text-long .align-left,
.field--type-text-long .align-right,
.ck-content .align-left,
.ck-content .align-right {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.field--type-text-long .align-left img,
.field--type-text-long .align-right img,
.ck-content .align-left img,
.ck-content .align-right img {
  margin: 0;
}
@media only screen and (min-width: 552px) {
  .field--type-text-long .align-left,
  .field--type-text-long .align-right,
  .ck-content .align-left,
  .ck-content .align-right {
    max-width: 45%;
  }
}
@media only screen and (min-width: 552px) {
  .field--type-text-long .align-left,
  .ck-content .align-left {
    float: left;
    clear: left;
    margin-right: 2.5rem;
  }
}
@media only screen and (min-width: 552px) {
  .field--type-text-long .align-right,
  .ck-content .align-right {
    float: right;
    clear: right;
    margin-left: 2.5rem;
  }
}
.field--type-text-long .align-center,
.field--type-text-long .align-center img,
.ck-content .align-center,
.ck-content .align-center img {
  margin-left: auto;
  margin-right: auto;
}

.ck-content strong {
  font-weight: 700;
}

.responsive-embed {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cke_editable hr,
.field-name-body hr {
  border: 0;
  border-bottom: thin solid var(--alpha);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.field--type-text-long::after {
  content: " ";
  display: block;
  clear: both;
}

.field--type-text-long > *:first-child {
  margin-top: 0 !important;
}
.field--type-text-long > *:last-child {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=cke.css.map */
